.pagination {
    float: right;
}

.pagination li {
    min-width: 2rem;
}

.pagination .disabled a {
    color: #ccc;
}

.pagination .active a {
    background-color: #ccc;
}

.add_user_link {
    display: flex;
    justify-content: flex-end;
}

.user-info {
    padding: 0.5rem 1rem;
}

.user-info span, i {
    color: #fff;
}
.add-user-form{
    margin: 0 0 4rem 0;
}
.form .required .control-label:after{
    content: '*';
    color: red;

}